<html>
    <center>
        <form action="">
    <table>
        <caption>Employee Iterface</caption>
        <tr>
            <td>Employee ID:</td>
            <td><input type="text" name="empid"></td>
        </tr>
        <tr>
            <td>Employee Name:</td>
            <td><input type="text" name="empname"></td>
        </tr>
        <tr>
            <td>Employee Designation:</td>
            <td><select name="empdesc">
                    <option>Manager</option>
                    <option>Supervisor</option>
                    <option>Clerk</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Employee Salary:</td>
            <td><input type="text" name="salary" ></td>
        </tr>
    </table>
    <br/>
    <input type="submit">
    </form>
</center>
    
</html>